.dark-theme {
  $header-footer-background: rgba(39, 42, 47, 1);
  $header-footer-background-transparent: rgba(39, 42, 47, 0);
  $audio-player-background: rgba(46, 49, 54, 1);
  $text-selection-color: rgb(111, 188, 143);
  $text-contextmenu-background: rgb(46, 49, 54);
  $text-arrow-color: rgb(255, 255, 255);
  $text-super-color: rgb(255, 255, 255);
  $settings-font-color: rgb(99, 105, 106);
  $menu-font-color: rgb(255, 255, 255);
  $menu-inactive-svg-color: rgb(61,65,68);
  $menu-background-color: rgb(44, 48, 54);
  $menu-active-text-color: rgb(255, 255, 255);
  $menu-secondary-background-color: rgb(39, 42, 47);
  $menu-hover-color: rgb(98, 177, 130);
  $menu-active-color: rgb(98, 177, 130);
  $menu-title-text-color: rgb(255, 255, 255);
  $menu-secondary-header-background: rgb(39, 42, 47);
  $menu-header-background: rgb(26, 29, 33);
  $application-background: rgb(26, 29, 33);
  $application-base-color: rgb(255, 255, 255);
  $settings-option-inactive-secondary-color: rgb(27, 31, 46);
  $audio-player-progress-background: rgb(32,34,39);
  $settings-option-inactive-color: rgb(98, 177, 130);
  $context-menu-background-color: rgba(44, 48, 54, 0.75);
  $audioplayer-handle-background-color: rgba(0, 0, 0, 0.5);
  $text-selection-background: #2C3036;
  $text-selection-section-header-background: #2C3036;
  $text-selection-section-type-label: #fff;
  $text-selection-search-text-color: #fff;
  $text-selection-search-input-background: #2C3036;
  $text-selection-accordion-title-background: #1B1F24;
  $text-selection-accordion-body-background: #2C3036;
  $text-selection-active-item-color: #6FBC8F;
}

// All colors used in Sketch file
$sdc-dark-red:#7E0E2A;
$sdc-red:#9E1E35;
$sdc-orange-red:#DA2015;
$sdc-orange:#DF4C10;
$sdc-:#DC4E41;
$sdc-black:#000000;
$sdc-dark-gray:#1B1F24;
$sdc-medium-gray:#2C3036;
$sdc-ugly-color:#868686;
$sdc-light-gray:#6E747F;
$sdc-lightest-gray:#B2BBC6;
$sdc-offwhite:#D4D8DD;
$sdc-closewhite:#F4F6F9;
$sdc-white:#FFFFFF;
$sdc-blue-purple:#293156;
$sdc-dim-blue:#4267B2;
$sdc-darkest-blue:#387DBF;
$sdc-bright-blue:#1DA1F2;
$sdc-light-blue:#6EC3E2;
$sdc-faded-blue:#50A5DC;
$sdc-dark-green:#2E924D;
$sdc-bright-green:#54B948;
$sdc-faded-green:#4EB07B;
$sdc-light-green:#6FBC8F;
$sdc-brown:#703F33;
$sdc-tan:#F8E4D3;
$sdc-light-tan:#FDF9F3;
$sdc-pink:#D069A9;
$sdc-purple:#8967AC;
$sdc-gold:#F2AC22;
$sdc-yellow:#F6D32D;
$sdc-bright-yellow:#FCE600;
