*, *::after, *::before {box-sizing:border-box;margin:0;padding:0}
body, html 	           {height:100%}
body 				   {margin:0 auto;color:#222;font-size:.98em;font-family:$font-primary}
div:focus              {outline:none;}
a                      {text-decoration:none}
aside                  {position:absolute;top:0;right:0;height:100%;width:320px;background-color:#2C3036;color:rgba(244,245,246,.5);}
main                   {overflow-x:hidden;overflow-y:scroll;max-height:100%;}
#app                   {background-color:$paper-background;}
#app > div             {height:100vh;}
// images
img                    {max-width:100%;height:auto}
img[data-src]          {filter:blur(15px)}
img.loaded             {transition:all .5s linear;filter:blur(0)}

// Icons Style Applied to All SVG Sprites
.icon                  {width:1em;height:1em;vertical-align:-0.15em;fill:currentColor;overflow:hidden;cursor:pointer;}
li                     {list-style:none}
.shadow                {box-shadow:0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)!important}

// Google and Facebook color
body .google   {background-color:$login-google-color;}
body .facebook {background-color:$login-facebook-color;}
body .twitter  {background-color:$login-twitter-color;}

// Change Highlighting Color
::selection {
  background: $default-highlight-color; /* WebKit/Blink Browsers */
  color: $paper-primary;
}
::-moz-selection {
  background: $default-highlight-color; /* Gecko Browsers */
  color: $paper-primary;
}

// Input Box Styles
input:focus                            {background-image:none;outline:none;}
input:focus::-webkit-input-placeholder {color:transparent;}
input:focus::-moz-placeholder          {color:transparent;}
input:focus:-ms-input-placeholder      {color:transparent;}

// Remove blue outline for divs that have event handlers
div:focus  {outline:none;}
span:focus {outline:none;}

// font sizes
h2 {font-size: 1.3em;}

// GRID
section                 {position:relative}
.row 					{margin:0 auto;max-width:1200px;width:100%}
main:after,
.row:before, .row:after {content:" ";display:table;clear:both}

.row .row 		 		{margin:0 -1rem;max-width:none;width:auto}
.row .row.collapse 		{margin:0}
.collapse > .columns 	{padding-left:0;padding-right:0}
.collapse .row 			{margin-left:0;margin-right:0}

.columns 				{padding-left:1.1rem;padding-right:1.1rem;width:100%;float:left}
.centered 				{margin-left:auto;margin-right:auto;float:none}
.centered:last-child 	{float:none}
.clearfix:after {content:"";display:table;clear:both}
.hidden {border:0;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.disabled {opacity:.5}

.visuallyhidden, .hide {display:none}

@media only screen and (max-width:400px) {
  .x-small-hide {display:none}
}

@media only screen {
  .small-hide       {display:none}
  .small-show       {display:block}
  .small-1  		{width:8.33333%}
  .small-2  		{width:16.66667%}
  .small-3  		{width:25%}
  .small-4  		{width:33.33333%}
  .small-5  		{width:41.66667%}
  .small-6  		{width:50%}
  .small-7  		{width:58.33333%}
  .small-8  		{width:66.66667%}
  .small-9  		{width:75%}
  .small-10 		{width:83.33333%}
  .small-11 		{width:91.66667%}
  .small-12 		{width:100%}
}
@media only screen and (min-width:600px) {
  .small-show       {display:none}
  .small-hide       {display:inherit}
  .medium-hide      {display:none}
  .medium-1  		{width:8.33333%}
  .medium-2  		{width:16.66667%}
  .medium-3  		{width:25%}
  .medium-4  		{width:33.33333%}
  .medium-5  		{width:41.66667%}
  .medium-6  		{width:50%}
  .medium-7  		{width:58.33333%}
  .medium-8  		{width:66.66667%}
  .medium-9  		{width:75%}
  .medium-10 		{width:83.33333%}
  .medium-11 		{width:91.66667%}
  .medium-12 		{width:100%}
}
@media only screen and (min-width:960px) {
  .small-show       {display:none}
  .small-hide       {display:inherit}
  .medium-hide      {display:block}
  .large-1  		{width:8.33333%}
  .large-2  		{width:16.66667%}
  .large-3  		{width:25%}
  .large-4  		{width:33.33333%}
  .large-5  		{width:41.66667%}
  .large-6  		{width:50%}
  .large-7  		{width:58.33333%}
  .large-8  		{width:66.66667%}
  .large-9  		{width:75%}
  .large-10 		{width:83.33333%}
  .large-11 		{width:91.66667%}
  .large-12 		{width:100%}
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(255, 255, 255, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
