$font-primary: 'Open Sans', sans-serif;

$color-primary: #9e1e35;
$color-secondary: #8e1e35;

$dark-primary: #1b1f24;
$dark-secondary: #2c3036;

$paper-primary: #f1f1f1;
$paper-secondary: rgba(112,63,51,.5);
$paper-sidebar: #F8E4D3;
$paper-background: #FDF9F3;

$login-email-color: #6E747F;
$login-facebook-color: #4267B2;
$login-google-color: #DC4E41;

$menu-active-color: rgb(98,177,130);
$header-footer: rgb(158,30,53);
$input-background-color: rgb(110,116,127);