files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/01-run-build.sh":
    mode: "000755"
    content: |
      #!/bin/bash

      cd /tmp/deployment/application

      echo BASE_API_ROUTE="$(/opt/elasticbeanstalk/bin/get-config environment -k BASE_API_ROUTE)" >> .env

      source .env
      export BRANCH=development

      case "$NODE_ENV" in
        production)
          BRANCH=live.bible.is
          ;;
        staging)
          BRANCH=newdata
          ;;
        dev)
          BRANCH=development
          ;;
        *)
          BRANCH=$NODE_ENV
          ;;
      esac

      export BUILD_ID=$(git ls-remote https://github.com/faithcomesbyhearing/dbp-web.git | grep  "refs/heads/$BRANCH$" | cut -f1)
      export PATH="$PATH:/opt/elasticbeanstalk/node-install/node-v10.15.1-linux-x64/bin"

      ./node_modules/next/dist/bin/next build