.fade-enter                   {opacity: 0.01;}
.fade-enter.fade-enter-active {opacity: 1;transition: opacity 0.4s ease-in;}
.fade-exit                    {opacity: 1;}
.fade-exit.fade-exit-active   {opacity: 0.01;transition: opacity 0.4s ease-in;}

.slide-from-right-enter {animation:slide-from-right-in 0.4s forwards;}
.slide-from-right-exit  {animation:slide-from-right-out 0.4s forwards;}
//.slide-from-right-enter.slide-from-right-enter-active {}
//.slide-from-right-exit.slide-exit-active {}

@keyframes slide-from-right-in {
  0% { transform: translateX(100%); }
}

@keyframes slide-from-right-out {
  100% { transform: translateX(100%); }
  0%   { transform: translateX(0%);   }
}

.slide-from-left-enter {animation:slide-from-left-in 0.4s forwards;}
.slide-from-left-exit  {animation:slide-from-left-out 0.4s forwards;}
//.slide-from-left-enter.slide-from-left-enter-active {}
//.slide-from-left-exit.slide-exit-active {}

@keyframes slide-from-left-in {
  0% { transform: translateX(-100%); }
}

@keyframes slide-from-left-out {
  0%   { transform: translateX(0%);    }
  100% { transform: translateX(-100%); }
}
