.fade-enter                   {opacity: 0.01;}
.fade-enter.fade-enter-active {opacity: 1;transition: opacity 500ms ease-in;}
.fade-exit                    {opacity: 1;}
.fade-exit.fade-exit-active   {opacity: 0.01;transition: opacity 400ms ease-in;}

.slide-from-right-enter {animation:slide-from-right-in 0.5s forwards;}
.slide-from-right-exit  {animation:slide-from-right-out 0.5s forwards;}
//.slide-from-right-enter.slide-from-right-enter-active {}
//.slide-from-right-exit.slide-exit-active {}

@keyframes slide-from-right-in {
  0% { transform: translateX(100%); }
}

@keyframes slide-from-right-out {
  100% { transform: translateX(100%); }
  0%   { transform: translateX(0%);   }
}

.slide-from-left-enter {animation:slide-from-left-in 0.5s forwards;}
.slide-from-left-exit  {animation:slide-from-left-out 0.5s forwards;}
//.slide-from-left-enter.slide-from-left-enter-active {}
//.slide-from-left-exit.slide-exit-active {}

@keyframes slide-from-left-in {
  0% { transform: translateX(-100%); }
}

@keyframes slide-from-left-out {
  0%   { transform: translateX(0%);    }
  100% { transform: translateX(-100%); }
}

//.slide-down-enter {max-height:0;overflow-y:hidden;}
//.slide-down-exit  {max-height:calc(100% - 90px);overflow-y:scroll;}
//.slide-down-enter.slide-down-enter-active {max-height:calc(100% - 90px);transition:max-height 0.5s ease-in-out;overflow-y:scroll;}
//.slide-down-exit.slide-down-exit-active  {max-height:0;overflow-y:hidden;transition:max-height 0.5s ease-in-out;}
//.slide-down-enter {animation-delay:200ms;animation-fill-mode:both;transform-origin:top left;contain:content;animation-name:slide-down-in;animation-duration:500ms;animation-timing-function:step-end;}
//.slide-down-exit {animation-delay:200ms;animation-fill-mode:both;transform-origin:top left;contain:content;animation-name:slide-down-out;animation-duration:500ms;animation-timing-function:step-end;}
//.slide-down-enter.slide-down-enter-active
//.slide-down-exit.slide-down-exit-active

//@keyframes slide-down-in {
//  0% { transform: scaleY(.1);}
//  20% { transform: scaleY(.2);}
//  30% { transform: scaleY(.3);}
//  40% { transform: scaleY(.4);}
//  50% { transform: scaleY(.5);}
//  60% { transform: scaleY(.6);}
//  70% { transform: scaleY(.7);}
//  80% { transform: scaleY(.8);}
//  90% { transform: scaleY(.9);}
//  100% { transform: scaleY(1);}
//  //0% { transform: translateY(0%); }
//
//  //10% { transform: translateY(10%); }
//  //20% { transform: translateY(20%); }
//  //30% { transform: translateY(30%); }
//  //40% { transform: translateY(40%); }
//  //50% { transform: translateY(calc(50% - 15px)); }
//  //60% { transform: translateY(calc(60% - 30px)); }
//  //70% { transform: translateY(calc(70% - 45px)); }
//  //80% { transform: translateY(calc(80% - 60px)); }
//  //90% { transform: translateY(calc(90% - 75px)); }
//  //100% { transform: translateY(calc(100% - 90px)); }
//}

//@keyframes slide-down-out {
//  0% { height: calc(100% - 90px); }
//  10% { height: calc(90% - 75px); }
//  20% { height: calc(80% - 60px); }
//  30% { height: calc(70% - 45px); }
//  40% { height: calc(60% - 30px); }
//  50% { height: calc(50% - 15px); }
//  60% { height: 40%; }
//  70% { height: 30%; }
//  80% { height: 20%; }
//  90% { height: 10%; }
//  100% { height: 1px; }
//}

@keyframes slide-down-in {
  0% { transform: scaleY(0); }
  3.44828% { transform: scaleY(0.13096); }
  6.89655% { transform: scaleY(0.24861); }
  10.34483% { transform: scaleY(0.3539); }
  13.7931% { transform: scaleY(0.44771); }
  17.24138% { transform: scaleY(0.53091); }
  20.68966% { transform: scaleY(0.60434); }
  24.13793% { transform: scaleY(0.66879); }
  27.58621% { transform: scaleY(0.72503); }
  31.03448% { transform: scaleY(0.77378); }
  34.48276% { transform: scaleY(0.81574); }
  37.93103% { transform: scaleY(0.85158); }
  41.37931% { transform: scaleY(0.88191); }
  44.82759% { transform: scaleY(0.90734); }
  48.27586% { transform: scaleY(0.92842); }
  51.72414% { transform: scaleY(0.94568); }
  55.17241% { transform: scaleY(0.95962); }
  58.62069% { transform: scaleY(0.97068); }
  62.06897% { transform: scaleY(0.9793); }
  65.51724% { transform: scaleY(0.98586); }
  68.96552% { transform: scaleY(0.99072); }
  72.41379% { transform: scaleY(0.99421); }
  75.86207% { transform: scaleY(0.99661); }
  79.31034% { transform: scaleY(0.99817); }
  82.75862% { transform: scaleY(0.99912); }
  86.2069% { transform: scaleY(0.99964); }
  89.65517% { transform: scaleY(0.99989); }
  93.10345% { transform: scaleY(0.99998); }
  96.55172% { transform: scaleY(1); }
  100% { transform: scaleY(1); }
}

@keyframes slide-down-out {
  0% { transform: scaleY(1); }
  3.44828% { transform: scaleY(0.86904); }
  6.89655% { transform: scaleY(0.75139); }
  10.34483% { transform: scaleY(0.6461); }
  13.7931% { transform: scaleY(0.55229); }
  17.24138% { transform: scaleY(0.46909); }
  20.68966% { transform: scaleY(0.39566); }
  24.13793% { transform: scaleY(0.33121); }
  27.58621% { transform: scaleY(0.27497); }
  31.03448% { transform: scaleY(0.22622); }
  34.48276% { transform: scaleY(0.18426); }
  37.93103% { transform: scaleY(0.14842); }
  41.37931% { transform: scaleY(0.11809); }
  44.82759% { transform: scaleY(0.09266); }
  48.27586% { transform: scaleY(0.07158); }
  51.72414% { transform: scaleY(0.05432); }
  55.17241% { transform: scaleY(0.04038); }
  58.62069% { transform: scaleY(0.02932); }
  62.06897% { transform: scaleY(0.0207); }
  65.51724% { transform: scaleY(0.01414); }
  68.96552% { transform: scaleY(0.00928); }
  72.41379% { transform: scaleY(0.00579); }
  75.86207% { transform: scaleY(0.00339); }
  79.31034% { transform: scaleY(0.00183); }
  82.75862% { transform: scaleY(0.00088); }
  86.2069% { transform: scaleY(0.00036); }
  89.65517% { transform: scaleY(0.00011); }
  93.10345% { transform: scaleY(0.00002); }
  96.55172% { transform: scaleY(0); }
  100% { transform: scaleY(0); }
}
