// General Audio Player Styles
//.audio-player-container             {margin-top:54px;display:flex;justify-content:space-around;align-items:center;width:100%;height:50px;background-color:rgba(78,69,76,.9);}
.audio-player-container             {display:flex;justify-content:space-around;align-items:center;width:100%;height:50px;background-color:rgba(78,69,76,.9);}
.audio-player-container .item       {cursor:pointer;}
.audio-player-container .item:hover {opacity:.65;}
.audio-player                       {width:300px;display:none;}
.audio-player-container.open        {position:inherit;top:54px;}
.audio-player-container.closed      {position:absolute;background-color:rgba(0,0,0,0);top:4px;:not(:last-child){z-index:-1;}}

// Speed Control Styles
.speed-control-container {display:flex;align-items:center;justify-content:space-around;background-color:#222;position:relative;top:0;left:0;height:30px;width:150px;}
.speed-control-container .item {color:#fff;cursor:pointer;}

// Progress Bar Styles
.progress-bar {width:50%;background-color:rgb(32,34,39);height:2px;cursor:pointer;}
.progress-bar:focus {outline: none;}

// Gripper Styles
.audio-gripper {display:block;position:relative;left:calc(-50% + 25px);bottom:-50%;cursor:pointer;}

// Volume Slider
.volume-slider          {display:flex;align-items:center;justify-content:center;height:100%;background-color:#2C3036;width:150px;}
.volume-slider .tracker {background-color:$menu-active-color;border-radius:50%;width:15px;height:15px;margin-top:-6px;}
.volume-slider .fill    {height:3px;background-color:$menu-active-color;width:100px;border-radius:5px;}

// Elipsis
.more-menu.active {background-color:rgba(25,25,25,0.7);border:1px solid $menu-active-color;}
.elipsis {padding:15px;display:flex;justify-content:space-between;flex-direction:column;color:$paper-primary;position:absolute;width:320px;height:120px;background-color:rgba(25,25,25,0.7);border:1px solid $menu-active-color;}
.elipsis div {display:flex;align-items:center;}
.elipsis span {margin-left:15px;}
