.bibles-header {
  display: flex;
  justify-content: space-between;
  max-width: 560px;
  width: 100%;
}

.bibles-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  &:hover {
    color: #0284ff;
  }
}

.bibles-table {
  display: block;
  position: fixed;
  z-index: 1;
  background-color: rgba(36,41,47,.96);
  color: whitesmoke;
  border: 1px solid grey;
  overflow-y: scroll;
  max-height: 500px;
  max-width: 500px;
}

.bibles-list {
  border: 1px solid grey;
  overflow-y: scroll;
  max-height: 350px;
  max-width: 560px;
}

.language-text {
  font-size: .8em;
}
