.chapter-box {
  padding: 2px;
  border: 1px solid black;
  width: 25px;
  height: 25px;
  margin: 1px;
}

.chapter-container {
  display: grid;
  grid-template-columns: repeat(5, 30px);
  grid-template-rows: auto;
}

.book-chapter-header {
  display: flex;
  justify-content: space-between;
}

.books-dropdown {
  display: block;
  position: fixed;
  z-index: 1;
  background-color: rgba(36,41,47,.96);
  color: whitesmoke;
  border: 1px solid grey;
  overflow-y: scroll;
  max-height: 500px;
  max-width: 500px;
}
