// Leaving unused class here because the copywrite component
// will need more styling once we have all the correct data
.copyrights-section {
  padding: 15px;
  margin-top:5px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90%;

  @include css4 {
    color: var(--default-text-color);
  }

  .text {
    margin-top: 10px;
  }
  div {
    margin-bottom: 15px;
    h1 {
      font-size: 20px;
      text-decoration: underline;
    }

    .cp-section {
      padding: 10px;

      h3 a {
        @include css4 {
          color: var(--notebook-title-date-color);
        }
      }
    }
  }
}
