.footer-background {display:flex;justify-content:center;align-items:center;z-index:2;position:fixed;bottom:0;left:0;width:100%;@include css4 {background:var(--default-header-background-color);};}
.footer-content {
  @include css4 {
    color:var(--default-text-color);
  };
  display:flex;height:56px;justify-content:space-between;align-items:center;
}
.footer-content .item             {margin-top:5px;cursor:pointer;height:55px;width:55px;display:flex;flex-direction: column;align-items: center;}
.footer-content .item:hover       {opacity:0.65;}
.footer-content .item .title-text {text-align:center;}

@media only screen and (min-width:$small-bp) {
  // Shrink padding to 5px
  .footer-content {width:291px;min-width:291px;max-width:404px;}
  .footer-content .item .title-text {font-size:12px;}
}

@media only screen and (min-width:$medium-bp) {
  // padding left and right are 15px
  .footer-content {min-width:405px;width:405px;max-width:405px;}
  .footer-content .item .title-text {font-size:inherit;}
}

@media only screen and (min-width:$large-bp) {

}
