.notes                          {position:fixed;top:0;height:100%;width:320px;background-color:#2C3036;color:rgba(244,245,246,.5)}
.notes header                   {position:relative;background:#7E0E2A;color:#FFF;text-align:center;height:54px;line-height:54px;font-size:1.05em;}
.notes header .close-icon       {position:absolute;top:7px;left:10px}
.notes header .close-icon:hover {cursor:pointer;opacity:0.8;}
.notes section                  {padding:15px}
.notes .option:hover            {color:rgba(244,245,246,1);cursor:pointer}

.notes textarea 			{resize:none;background-color:inherit;border:none;font-size:0.98em;}
.notes textarea:focus       {outline:none;}
.notes input                {background-color:inherit;font-size:0.98em;border:none;}
// Svg Buttons
.notes .top-bar             {display:flex;height:50px;width:100%;align-items:center;}
.notes .top-bar *:focus     {outline:none;}
.notes .top-bar .svg.active {fill:$menu-active-color;opacity:1;}
.notes .top-bar .svg        {opacity:1;cursor:pointer;fill:$paper-primary;margin-left:15px;}
.notes .top-bar .text       {color:$paper-primary;margin-left:15px;}

// Edit Notes Section
.edit-notes .date-title     {display:flex;align-items:center;height:50px;width:100%;}
.date-title .date           {color:$menu-active-color;}
.date-title .title          {color:$paper-primary;margin-left:15px;font-style:italic;width:100%;font-weight:200;}

.edit-notes .verse-dropdown       {display:flex;align-items:center;justify-content:space-around;width:100%;height:40px;}
.verse-dropdown .version-dropdown {color:$menu-active-color;}
.verse-dropdown .svg              {fill:currentColor;}
.verse-dropdown.open .svg         {transform:rotate(0.25turn);}
.verse-dropdown .svg:hover        {opacity:0.65;cursor:pointer;}
.verse-dropdown .text             {color:$paper-primary;margin-left:15px;flex-grow:2;}
.edit-notes .save-button          {float:right;cursor:pointer;font-size:1.05em;}
.edit-notes .save-button:hover    {color:$menu-active-color;}

.edit-notes .add-verse {height:30px;display:flex;width:100%;align-items:center;}
.add-verse .plus       {fill:currentColor;}
.add-verse .plus:hover {opacity:0.65;cursor:pointer}
.add-verse .text       {color:$paper-primary;margin-left:15px;font-style:italic;}
.edit-notes .note-text {color:$paper-primary;height:100px;overflow-y:scroll;overflow-x:hidden;width:100%;font-style:italic;margin-top:15px;font-weight:200;caret-color:#fff;}

.add-verse-expanded {height:100px;width:320px;display:flex;background-color:#111;border:1px solid $menu-active-color;}
.add-verse-expanded .book-table {width:280px;}
.add-verse-expanded .plus-expanded {background-color:$menu-active-color;height:100%;width:40px;}
.add-verse-expanded .plus-expanded svg {width:20px;height:20px;margin-left:10px;margin-top:5px;cursor:pointer;}

.edit-notes .verse-text {background-color:#111;padding:5px;}

// List Sections
.list-sections                         {height:calc(100% - 160px);max-height:calc(100% - 160px);}
.list-sections .searchbar              {display:flex;width:100%;height:50px;}
.searchbar .add-note                   {display:flex;align-items:center;justify-content:center;background-color:$menu-active-color;width:50px;height:50px;cursor:pointer;}
.searchbar ::-webkit-input-placeholder {color:#FFF;padding-left:45px;}
.searchbar ::-moz-placeholder          {color:#FFF;padding-left:45px;}
.searchbar :-ms-input-placeholder      {color:#FFF;padding-left:45px;}
.search                                {width:calc(100% - 50px);background:url("../images/input_search_icon.svg") no-repeat 5px 10px;border:none;height:50px;background-color:$input-background-color;color:#FFF;font-size:.9em;font-weight:200;caret-color:#000;padding-left:10px;}

.note-list                    {height:calc(100% - 100px);max-height:calc(100% - 100px);overflow-y:scroll;overflow-x:hidden;background-color:rgb(26,29,33);}
.note-list .list-item         {display:flex;}
.list-item .date              {color:$menu-active-color;}
.list-item .title-text        {margin-left:15px;}
.list-item .title-text .title {color:$menu-active-color;}
.list-item .title-text .text  {color:$paper-primary;}

.list-sections .pagination          {display:flex;align-items:center;height:50px;background-color:#2C3036;}
.pagination .item-list              {cursor:pointer;display:flex;align-items:center;justify-content:space-between;height:50px;width:calc(100% - 120px);margin:0 15px;}
.pagination .item-list .item:hover  {color:$menu-active-color;}
.pagination .item-list .item.active {color:$menu-active-color;}

.page-size-selector                 {display:flex;align-items:center;height:50px;width:120px;color:white;font-size:.98em;font-weight:200;}
.page-size-selector .open           {display:flex;background-color:$input-background-color;flex-direction:column;align-items:center;justify-content:space-between;position:absolute;height:150px;width:120px;bottom:55px;right:0;border:1px solid $menu-active-color;:first-child{margin-top:10px;}:last-child{margin-bottom:10px;}}
.page-size-selector .open div       {cursor:pointer;}
.page-size-selector .open div:hover {opacity:0.65;}
.page-size-selector .closed         {background-color:inherit;}
.page-size-selector .closed:hover   {opacity:0.65;cursor:pointer;}

.notes .need-to-login                   {color:$paper-primary;padding:15px;font-size:1.1em;}
.notes .need-to-login .login-text       {color:$menu-active-color;cursor:pointer;}
.notes .need-to-login .login-text:hover {opacity:0.65;}

// Keyframe animations
@keyframes rotate90deg {
  0%   {transform:rotate(0turn);}
  20%  {transform:rotate(0.05turn);}
  40%  {transform:rotate(0.10turn);}
  60%  {transform:rotate(0.15turn);}
  80%  {transform:rotate(0.20turn);}
  100% {transform:rotate(0.25turn);}
}