.policy-page-container            {margin:0 auto;}
.policy-page-container .intro     {font-family:'DIN_Medium','Helvetica','Arial',sans-serif;font-weight:bold;display:block;text-align:center;line-height:1.2em;color:#2D3137;margin:70px auto -0.5em auto;}
.policy-page-container .one-space {margin-top:2em;}
.policy-page-container .clear     {clear: both;}
