// GLOBAL SETTINGS
.profile                    {z-index:1;position:fixed;top:0;height:100%;width:320px;@include css4{background:var(--menu-secondary-background-color);color:var(--menu-font-color);}}
.profile header             {position:relative;@include css4{background:var(--menu-header-background);color:var(--menu-title-text-color);};text-align:center;height:54px;line-height:54px}
.profile header .close-icon {position:absolute;top:0;right:10px}
.profile section            {padding:15px}
.profile .profile-content   {max-height:calc(100% - 110px);overflow-y:scroll;overflow-x:hidden;}
.profile .option:hover      {@include css4{color:var(--menu-active-text-color);};cursor:pointer}
.profile .active            {@include css4{color:var(--menu-active-text-color);};}

// Input boxes
.profile input                                  {border:none;width:100%;height:50px;@include css4{/* border-bottom:1px solid var(--menu-font-color); */background:var(--application-input-color);color:var(--menu-font-color);caret-color:var(--dark-caret-color);};font-size:.9em;font-weight:200;padding-left:10px;}
.profile input.email                       {@include css4{background-color:var(--application-input-color);};padding-left:70px;}
.profile input {padding-left:70px;}
//.profile form input.email:focus                 {background-image:none;padding-left:10px;}
.profile input:focus::-webkit-input-placeholder {color:transparent;}
.profile input:focus::-moz-placeholder          {color:transparent;}
.profile input:focus:-ms-input-placeholder      {color:transparent;}
.profile ::-webkit-input-placeholder            {@include css4{color:var(--menu-title-text-color);};}
.profile ::-moz-placeholder                     {@include css4{color:var(--menu-title-text-color);};}
.profile :-ms-input-placeholder                 {@include css4{color:var(--menu-title-text-color);};}

// Social Buttons
.profile .google   {display:flex;align-items:center;cursor:pointer;height:50px;width:100%;background:$login-google-color;@include css4{color:var(--menu-title-text-color);};}
.profile .facebook {display:flex;align-items:center;cursor:pointer;height:50px;width:100%;background:$login-facebook-color;@include css4{color:var(--menu-title-text-color);};}
.profile .svg      {margin-right:20px;margin-left:20px;}

// Links
.profile .link               {@include css4{color:var(--menu-active-color);};font-weight:200;cursor:pointer;}
.profile .link:hover         {opacity:.75;}
.profile .sign-up-free .link {font-style: italic;}

// Sign up
.profile .sign-up-button             {padding:5px 10px;text-align:right;height:30px;width:100%;@include css4{background:var(--application-input-color);color:var(--menu-title-text-color);};}
.profile .sign-up-button .text       {cursor:pointer;background-color:inherit;border:none;font-size:0.98em;@include css4{color:var(--menu-title-text-color);};}
.profile .sign-up-button .text:hover {@include css4{color:var(--menu-active-text-color);};}
  // Login or Sign up options
.profile .form-options               {display:flex;align-items:center;justify-content:space-between;}
.profile .form-options .login        {margin:10px 0 10px 10px;@include css4{color:var(--settings-font-color);};cursor:pointer;}
.profile .form-options .signup       {margin:10px 10px 10px 0;@include css4{color:var(--settings-font-color);};cursor:pointer;}
.profile .form-options .active       {@include css4{color:var(--menu-active-text-color);};}
.profile .form-options .active       {@include css4{color:var(--menu-active-text-color);};}
.profile .form-options .login:hover  {@include css4{color:var(--menu-active-text-color);};}
.profile .form-options .signup:hover {@include css4{color:var(--menu-active-text-color);};}

  // Message
.profile .message    {@include css4{color:var(--menu-font-color);};}

// Disclaimer
.profile .disclaimer {@include css4{color:var(--menu-font-color);};}

// Sign in
.profile .sign-in              {display:flex;align-items:center;cursor:pointer;width:100%;height:50px;@include css4{background:var(--application-input-color);color:var(--menu-title-text-color);};}
.profile .sign-up-free         {@include css4{color:var(--menu-font-color);};}
.profile .signup-error-message {color:red;font-weight:200;padding-left:15px;padding-bottom:15px;}
.profile .sign-in-button       {display:flex;align-items:center;justify-content:space-around;width:100%;@include css4{background:var(--application-input-color);color:var(--menu-title-text-color);};padding:5px;}
.profile .sign-in-button .text {font-size:.9em;font-weight:200;margin-left:-4px;}
.profile .login-checkbox       {width: unset;}
.profile .login-button         {font-size:0.98em;cursor:pointer;background-color:inherit;border:none;@include css4{color:var(--menu-title-text-color);};}
.profile .login-button:hover   {@include css4{color:var(--menu-active-text-color);};}
.profile .login-error-message  {color:red;font-weight:200;}

.input-wrapper .svg {position:relative;top:45px;}
.profile form {margin-top:-35px;}
