//.search {
//  z-index:1;
//  position:absolute;
//  top:0;
//  left:0;
//  height:calc(100% - 56px);
//  width:320px;
//  @include css4{
//    background:var(--menu-secondary-background-color);
//    color:var(--menu-font-color);
//  }
//}

.search                              {
  position:fixed;z-index:1;top:0;left:0;
  height:calc(100% - 56px);width:320px;
  @include css4{
    background-color:var(--menu-secondary-background-color);
    color:var(--settings-font-color);
  };
}
.search header                       {
  position:relative;text-align:center;
  height:54px;line-height:54px;@include css4{
  background-color:var(--menu-header-background);
  color:var(--menu-title-text-color);};}
.search header .close-icon           {position:absolute;top:0px;right:10px}
.search section                      {padding:15px}
.search .option:hover                {@include css4{color:var(--menu-active-text-color)};cursor:pointer}
.search .active                      {@include css4{color:var(--menu-active-text-color)};}
