.settings {
  position: absolute;
  top:0;
  right:0;
  height:100%;
  width:320px;
  background-color:#2C3036;
  color:rgba(244,245,246,.5);

  header {
    position: relative;
    background: #7E0E2A;
    color:#FFF;
    text-align: center;
    height: 54px;
    line-height:54px;

    .close-icon {position: absolute;top:0px;right:10px}
  }

  section {padding:15px}
  .active {color:rgba(244,245,246,1)}

  .color-schemes {

    .option {
      position: relative;
      width: 33%;
      display: inline-block;
      text-align: center;

      &:before {
        content:"";
        border-radius: 100%;
        width: 38px;
        height: 38px;
        margin: 0 auto;
        background-color: transparent;
        border: thin solid #D4D8DD;
        display: block;
      }

      &.red {
        &:before {
          background-color: $color-primary;
          border-color: $color-secondary;
        }
      }

      &.paper {
        &:before {
          background-color:$paper-sidebar;
          border-color:$paper-secondary;
        }
      }

      .title {
        text-transform: uppercase;
        font-size:14px;
        font-weight:bold;
        text-align: center;
      }

    }

  }

  .font-settings {

    .option {
      display: inline-block;
      text-align: center;
      font-size: 36px;
      opacity: .75;
      width:33%;

      small {
        display: block;
        text-transform: uppercase;
        font-size:14px;
      }

      &.active {
        opacity: 1;
      }

    }
  }

  .font-sizes {
    height:60px;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    line-height:.75;

    .option {
      text-align: center;
      font-size: 36px;
      float: left;

      &.smallest {font-size:1rem}
      &.small    {font-size:1.5rem}
      &.medium   {font-size:2rem}
      &.large    {font-size:2.5rem}
      &.largest  {font-size:3rem}

      &.active   {opacity: 1}

    }
  }
  .checkbox-settings {

    label {
      height:40px;
      display: block;
    }

    span {
      float: left;
    }

  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 34px;
  float: right;


  input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1B1F24;
    -webkit-transition: .4s;
    transition: .4s;
    height:14px;

    &:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 0;
      bottom: -3px;
      background-color: #6E747F;
      -webkit-transition: .4s;
      transition: .4s;
    }
    &.round {
      border-radius: 34px;
    }

    &.round:before {
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: rgba(111,188,143,.5);
  }

  input:checked + .slider:before {
    background-color: #6FBC8F;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }
}