.text-container {
  display: flex;
  max-width: 1000px;
  height:calc(100vh - 135px);
  margin:0 auto;
  padding: 0 10px;
  align-items: center;
  @include css4 {
    color: #000000; // fallback for IE
    color: var(--application-text-container-color);
    font-size: var(--application-base-font-size);
  }
  main {
    padding: 15px 15px 45px 15px;
    margin: 0 auto;

    h1,h2,h3,h4,h5,h6 {
      font-weight: bold;
      display: block;
    }

    h3 + h3:before {
      content: "\A";
    }

    .audio-only {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      svg {
        width: 115px;
      }
      p {
        width: max-content;
      }
      span {
        width: max-content;
        color: #868686;
        opacity: .3;
        margin-top: 15px;
      }
      .divider {
        width: 175px;
        height: 1px;
        background-color: #868686;
        opacity: .3;
      }
    }

    .readers-spaces {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  .info-button {
    position: absolute;
    bottom: 136px;

    &.closed {
      bottom: 86px;
    }
  }

  .note-in-verse {
    z-index: 4;

    @include css4 {
      fill: var(--application-text-container-color)
    }
  }
}

.verse-number {
  top: 0;
}

.verse-text {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 5px;
}

.arrow-wrapper {
  height: 80%;
  width:26px;
  display:flex;
  align-items: center;
  justify-content: center;
  //margin-top:auto;
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}
//.text-container span {white-space:nowrap;display:inline-block;}
.prev-arrow-svg {
  cursor:pointer;
  @include css4{
    fill:var(--main-textarea-svg-fill-color);
  };
  width:26px;
  height:26px;
  //margin-left:10px;
  //width:25px;
  //min-width:25px;
  //min-height:52px;
  //height:52px;
  //margin-top:calc(50vh - 104px);
}
.next-arrow-svg {
  cursor:pointer;
  @include css4{
    fill:var(--main-textarea-svg-fill-color);
  };
  width:26px;
  height:26px;
  //margin-right:5px;
  //width:25px;
  //min-width:25px;
  //min-height:52px;
  //height:52px;
  //margin-top:calc(50vh - 104px);
}
.prev-arrow-svg:hover {
  animation:thicken 0.3s forwards;
}
.next-arrow-svg:hover {
  animation:thicken 0.3s forwards;
}
.text-highlighted 	  {
  //@include css4{
  //  //background-color:var(--text-selection-color);
  //  color:var(--default-text-color);
  //};
  //filter: sepia(40%);
}

.active-chapter-title {
  margin:auto;
  max-width: 30px;
  text-align:center;
  font-size:130%;
}

.drop-caps 			  {
  font-size:2em;
  line-height:1;
  margin: 0 .25em .5em 0;
}

.read-chapter-container {
  display:flex;
  justify-content: center;
}

.read-chapter 			{
  height: 35px;
  border-radius: 6px;
  width:130px;
  max-width: 150px;
  text-align:center;
  background-color: #FFFFF5;
  box-shadow: 1px 1px 1px 1px #B1A77A;
  cursor: pointer;
  font-size: 11px;
  white-space: nowrap;
  padding: 5px;
}

.read-chapter:active {
  box-shadow: none;
  color: #000;
}

.read-chapter:focus {
  border: 1px solid #B1A77A;
  color: #000;
  outline: none;
}

@media only screen and (max-width: $audio-player-bp) {
  .text-container {
    main {
      padding-bottom: 75px;
      z-index: 0;
    }

    .info-button {
      bottom: 166px;
    }
  }
}

// Style that I like but that isn't in the comps
//@keyframes thicken {
//	0%   { transform: scale(1.00); fill:rgba(158, 30, 53, 0.253); }
//	25%  { transform: scale(1.10); fill:rgba(158, 30, 53, 0.453); }
//	50%  { transform: scale(1.15); fill:rgba(158, 30, 53, 0.653); }
//	75%  { transform: scale(1.20); fill:rgba(158, 30, 53, 0.853); }
//	100% { transform: scale(1.25); fill:rgba(158, 30, 53, 1.000); }
//}
//@keyframes thicken {
//	0%   { transform: scale(1.00); }
//	25%  { transform: scale(1.10); }
//	50%  { transform: scale(1.15); }
//	75%  { transform: scale(1.20); }
//	100% { transform: scale(1.25); }
//}
