.language-section {
  display: flex;
  color: #FFF;
  max-height: 100%;
}

.active-language-name {
  color: rgba(255, 255, 255, .4);
}

.language-name {

}

.language-section-expanded {
  color: #FFF;
}

.language-name-list {
  max-height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}
