.text-container {
	display: flex;
	height:calc(100vh - 162px);
	@include css4 {
		color: var(--application-base-color);
		font-size: var(--application-base-font-size);
	}
	main {
		padding: 15px;
		max-width: 800px;
		margin: 0 auto;
	}
}

.verse-number {
	top: 0;
}

.verse-text {
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 5px;
}
//.text-container span {white-space:nowrap;display:inline-block;}
.prev-arrow-svg 	  {cursor:pointer;@include css4{fill:var(--text-arrow-color);};margin-left:10px;width:25px;min-width:25px;min-height:52px;height:52px;margin-top:calc(50vh - 104px);}
.next-arrow-svg 	  {cursor:pointer;@include css4{fill:var(--text-arrow-color);};margin-right:5px;width:25px;min-width:25px;min-height:52px;height:52px;margin-top:calc(50vh - 104px);}
.prev-arrow-svg:hover {animation:thicken 0.3s forwards;}
.next-arrow-svg:hover {animation:thicken 0.3s forwards;}
.text-highlighted 	  {@include css4{background-color:var(--text-selection-color);color:var(--application-base-color);};}
.active-chapter-title {margin:auto;text-align:center;font-size:130%;}
.drop-caps 			  {font-size:2em;line-height:1;margin: 0 .25em .5em 0;}

.read-chapter-container {display:flex;justify-content: center;}
.read-chapter 			{height: 35px;border-radius: 6px;width:130px;text-align:center;background-color: #FFFFF5;box-shadow: 1px 1px 1px 1px #B1A77A;cursor: pointer;padding: 5px;}
.read-chapter:active 	{box-shadow: 0 0 0 0 #B1A77A;}
.read-chapter:focus 	{border: 1px solid #B1A77A;outline: none;}

// TODO: Figure out how to use the variable instead of rgba in keyframes
//@keyframes thicken {
//	0%   { transform: scale(1.00); fill:rgba(158, 30, 53, 0.253); }
//	25%  { transform: scale(1.10); fill:rgba(158, 30, 53, 0.453); }
//	50%  { transform: scale(1.15); fill:rgba(158, 30, 53, 0.653); }
//	75%  { transform: scale(1.20); fill:rgba(158, 30, 53, 0.853); }
//	100% { transform: scale(1.25); fill:rgba(158, 30, 53, 1.000); }
//}
@keyframes thicken {
	0%   { transform: scale(1.00); }
	25%  { transform: scale(1.10); }
	50%  { transform: scale(1.15); }
	75%  { transform: scale(1.20); }
	100% { transform: scale(1.25); }
}
