/* 1rem(16px) @ 30rem(480px) increasing to 2rem(32px) @ 120rem(1920px) */
@media (min-width: 30rem) {
  .chapter {
    @include css4 {
      font-size: calc(var(--application-base-font-size) + ((1vw - 0.3rem) * 1.1111));
    };
    //font-size: calc(1rem + ((1vw - 0.3rem) * 1.1111));
    /* Where: * 1.1111 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 120rem) {
  .chapter {
    font-size: 2rem;
  }
}

.chapter {
  @include css4 {
    font-family:var(--application-font-family);
  };
  line-height:1.75;
  text-align:justify;
  max-width:800px;
  margin:0 auto;
  padding:0 25px 25px 25px;

  sup {
    font-size:smaller;
    @include css4 {
      color:var(--text-super-color);
    }
  }
}

/* Available font stacks for options in settings
.sans-serif-stack {
  font-family:"Noto Sans" (Google Font), Helvetica, sans serif;
}

.serif-type-stack {
  font-family:"Alegreva" (Google Font), "Palatino Linotype", Palatino, serif;
}

.slab-serif-stack {
  font-family:"Roboto Slab" (Google Font), Rockwell, Courier, monospace;
}*/
