@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import './rc-slider.css';
@import './react-accessible-accordion.css';
@import './variables';
@import './global';
@import './formatted_text';
@import './search';
@import './chapterselection';
@import './settings';
@import './navbar';
@import './typography';
@import './textselector';
@import './menubar';
@import './text';
@import './animations';
@import './audioplayer';
@import './footer';
@import './profile';
@import './privacypolicy';
@import './accountsettings';
@import './notes';
@import './copywrite';
@import './contextmenu';
@import './custompopup';
@import './custom-components';
@import './footnotePortal';
@import './notfound';
@import './video_player';
