.dark-theme {
	// Text / Selection Dropdown Styles
	$text-selection-background: #2c3036;
	$text-selection-accordion-title-background: #1b1f24;
	$text-selection-accordion-body-background: #2c3036;
	// Book / Chapter Dropdown Styles
	$book-dropdown-background-color: #f8e4d3;
	$book-dropdown-chapter-background-color: #ffffff;
	$book-dropdown-text-color: #000000;
	// Main Text Area Styles
	$svg-fill-color: #000000;
	// Active Colors
	$active-color-primary: #4eb07b;
	$active-color-secondary: #6fbc8f;
	// Highlight Colors
	$highlight-blue: #1da1f2;
	$highlight-pink: #d069a9;
	$highlight-yellow: #fce600;
	$highlight-green: #2e924d;
	$highlight-purple: #8967ac;
	// Settings Menu Styles
	$disabled-input-option: #b2bbc6;
	$inactive-font-option: #868686;
	// Basic Menu Styles
	$body-background-color: #f8e4d3;
	$header-background-color: #f8e4d3;
	// Application Wide Styles
	$default-background-color: #f4f6f9;
	$default-text-color: #000000;
	$before-after-border-color: #999999;
	$default-svg-fill-color: #000000;
	$default-input-placeholder-color: #000000;
}
