// will need to re-evaluate this file once I have more experience with the formatted texts
/* main index of all texts/versions */
.texts-index .name {
	//font-size: 14pt;
	padding-top: 5px;
	display: block;
}

.texts-index-list {
	width: 100%;
	border-collapse: collapse;
}

.texts-index-list td,
.texts-index-list th {
	padding: 5px;
	vertical-align: top;
}

.texts-index-list tr th {
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.texts-index-list tr td {
}

.texts-index-list tr:hover {
	background-color: #ccc;
}

.texts-index-list .texts-index-header th {
	background-color: #2a85e8;
	color: #fff;
	text-align: center;
}

/* index of books in a version */
.text-index .name {
	//font-size: 14pt;
	padding-top: 5px;
	display: block;
}

/* book index */
.division-index .name {
	//font-size: 14pt;
	padding-top: 5px;
	display: block;
}

.division-list li {
	border-bottom: 1px solid #ddd;
}

.division-list li a {
	display: block;
	padding: 8px;
}

.division-list li:hover {
	background-color: #ccc;
}

.division-list li.division-list-header {
	background-color: #2a85e8;
	color: #fff;
	text-align: center;
	padding: 5px;
}

/* chapter index */
.section-list li {
	border-bottom: 1px solid #ddd;
}

.section-list li a {
	display: block;
	padding: 5px;
}

.section-list li:hover {
	background-color: #ccc;
}

.section-list li.book-list-header {
	background-color: #2a85e8;
	color: #fff;
	text-align: center;
	padding: 5px;
}

/* document */
.section-document .name,
.section-document .location {
	//font-size: 10pt;
}

.section {
	//padding: 20px;
	//font-size: 14pt;
	//font-family: Cambria, Times;
}

.footnotes {
	margin: 1em;
	border-top: 1px solid #666;
	padding-top: 1em;
	font-size: 0.8em;
}

.footnotes .footnote {
	margin-bottom: 1em;
	padding-left: 1.1em;
	position: relative;
	display: block;
}

.footnotes .footnote .key {
	position: absolute;
	top: 0.25em;
	left: 0;
	width: 10px;
	font-size: 0.6em;
	display: block;
	text-align: right;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.footnotes .footnote .backref {
	color: #2a85e8;
	display: inline-block;
	padding-right: 0.5em;
}

/* book name */
/*
.mt {
display: block;
text-align: center;
font-size: 2em;
margin: 1.2em 0;
}
  */
/* main bible verse, text formatting */
.section,
.chapter {
	line-height: 1.8;
}

.section p,
.section div.p,
.chapter div.p {
	text-indent: 1em;
}

.section ins {
	text-decoration: none;
	font-style: italic;
}

.chapter-num {
	float: left;
	font-size: 2em;
	line-height: 1;
	margin: 0 0.25em 0.5em 0;
}

.chapter-num + p {
	text-indent: 0;
}

.chapter[dir='rtl'] .chapter-num {
	float: right;
	margin: 0 0 0.5em 0.5em;
}

.verse-num,
.v-num {
	font-weight: bold;
	font-size: 70%;
	vertical-align: top;
	color: #333;
	//font-family: avenir, helvetica;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[lang='heb'],
.section[lang='he'] .p,
.section[lang='heb'] .p,
.chapter[lang='he'] .p .chapter[lang='heb'] .p {
	font-family: 'SBL Hebrew', 'Ezra SIL', EzraSILRegular !important;
	//font-size: 125%;
}

[lang='gre'],
[lang='grc'],
.section[lang='grc'] .p,
.section[lang='gre'] .p,
.chapter[lang='grc'] .p,
.chapter[lang='gre'] .p {
	font-family: Gentium, GentiumPlus !important;
}

/*
.chapter h3,
.chapter .c {
font-weight: bold;
line-height: 1.4;
margin: 1.5em 0 0.5em 0;
}
  */
/* notes and cross references */
.note,
.cf {
	display: inline;
}

.note .key,
.cf .key {
	vertical-align: top;
	font-size: 70%;
	//font-weight: normal;
	//font-style: normal;
	color: #7491ce;
	cursor: pointer;
	display: inline;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media screen and (max-width: 500px) {
	.note .key {
		font-size: 100%;
	}
}

.chapter .note .key:hover,
.chapter .cf.key:hover {
	color: #fff;
	background: #33c;
}

.chapter .note .text,
.chapter .cf .text {
	display: none;
}

.document-footer .cf .key,
.document-footer .note .key {
	display: inline;
	vertical-align: top;
	//font-size: 8px;
	font-weight: bold;
	color: #33c;
}

.text .notetype {
	font-weight: bold;
	font-style: italic;
}

.bibleref {
	color: #7491ce;
	cursor: pointer;
}

.bibleref:hover {
	text-decoration: underline;
}

/* Gospels red letters */
.woc,
.wj {
	@include css4 {
		color: var(--application-words-of-jesus);
	}
}

.chapter .note .text,
.chapter .cf .text,
#search-results .note,
#search-results .cf {
	display: none;
}

/* special display for Psalms */
span[class^='verse PSA_'] {
	display: block;
}

/* most books */
.section .c,
.section .chapter-num,
.section .c-num {
	float: left;
	font-size: 2em;
	line-height: 1;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0.2em;
	//font-family: avenir, helvetica;
}

[dir='rtl'] .c,
[dir='rtl'] .section .chapter-num,
[dir='rtl'] .section .c-num {
	float: right;
	margin-right: 0;
	margin-left: 0.2em;
}

div.c + div.p,
.chapter-num + div.p {
	text-indent: 0 !important;
}

div.c + div.q {
	clear: both;
}

.v-1 {
	display: none;
}

/* Psalms */
.PS .c {
	font-size: 1.2em;
	margin-top: 2em;
	text-align: center;
	float: none;
}

.PS .v-1 {
	display: inline;
}

div.c + div.q .v-1 {
	display: inline;
}

div[lang='heb'] .c {
	float: right;
	margin-right: 0;
	margin-left: 0.2em;
}

div[lang='heb'] {
	font-family: 'Ezra SIL', 'SBL Hebrew';
	direction: rtl;
	text-align: right;
}

div[lang='heb'] div.p {
	direction: rtl;
	text-align: right;
}

h3.is1,
div.s,
div.is1 {
	color: #333;
	font-weight: bold;
}

.PS .s,
.PS .ms {
	text-align: center;
}

.q {
	padding-left: 3em !important;
	text-indent: -1.5em !important;
	position: relative;
}

[dir='rtl'] .q {
	padding-right: 3em !important;
}

.q2 {
	padding-left: 4em !important;
	text-indent: -1.5em !important;
	position: relative;
}

[dir='rtl'] .q2 {
	padding-right: 3em !important;
}

.q .verse-num,
.q .v-num {
	position: absolute;
	display: block;
	width: 2em;
	text-align: right;
	top: 0;
	left: 0;
}

[dir='rtl'] .q .verse-num,
[dir='rtl'] .q .v-num {
	right: 0;
	text-align: left;
}

.qs {
	text-align: right;
	font-style: italic;
}

.c + .p,
.c + p {
	margin-top: 0;
	text-indent: 0;
}

.d {
	font-size: 0.8em;
	text-align: center;
}

/* USFM */
.mt {
	display: block;
	text-align: center;
	//font-size: 2em;
	margin-top: 3em;
	margin-bottom: 1em;
	line-height: 1.2;
}

.mt2,
.mt3 {
	display: block;
	text-align: center;
	//font-size: 1.4em;
	margin-top: 3em;
	line-height: 1.2;
}

.mt2 + .mt,
.mt3 + .mt,
.mt2 + .mt3 {
	margin-top: 0;
}
