// GLOBAL SETTINGS
.profile {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	height: calc(100% - 44px);
	width: 320px;
	@include css4 {
		background: var(--menu-body-background-color);
		color: var(--default-text-color);
	}

	section {
		.disclaimer {
			margin-top: 5px;
		}
	}

	.donate-button {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 75px;
		height: 75px;
		margin: 15px auto;

		.donate-svg-wrapper {
			width: 40px;
			height: 40px;

			svg {
				max-height: 100%;
				max-width: 100%;
			}
		}

		span {
			font-size: 18px;
		}

		&:hover {
			opacity: 0.65;
		}
	}
}
.profile header {
	position: relative;
	@include css4 {
		background: var(--menu-header-background-color);
		color: var(--default-text-color);
	}
	text-align: center;
	padding: 15px;
	height: 54px;
	line-height: 54px;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	svg {
		margin-left: 15px;
	}
}
.profile header .close-icon {
	position: absolute;
	top: 0;
	right: 10px;
}
.profile section {
	padding: 15px;
}
.profile .profile-content {
	max-height: calc(100% - 54px);
	width: 320px;
	height: calc(100% - 54px);
	overflow-y: auto;
	overflow-x: hidden;
}
.profile .option:hover {
	@include css4 {
		color: var(--active-color-primary);
	}
	cursor: pointer;
}
.profile .active {
	@include css4 {
		color: var(--active-color-primary);
	}
}

// Input boxes
//.profile input {border:none;width:100%;height:50px;@include css4{/* border-bottom:1px solid var(--menu-font-color); */background:var(--application-input-color);color:var(--menu-font-color);caret-color:var(--dark-caret-color);};font-size:.9em;font-weight:200;padding-left:10px;}
//.profile input.email {@include css4{background-color:var(--application-input-color);};padding-left:70px;}
//.profile input {padding-left:70px;}
//.profile form input.email:focus {background-image:none;padding-left:10px;}
.profile input:focus::-webkit-input-placeholder {
	color: transparent;
}
.profile input:focus::-moz-placeholder {
	color: transparent;
}
.profile input:focus:-ms-input-placeholder {
	color: transparent;
}
.profile ::-webkit-input-placeholder {
	@include css4 {
		color: var(--application-input-placeholder-color);
	}
}
.profile ::-moz-placeholder {
	@include css4 {
		color: var(--application-input-placeholder-color);
	}
}
.profile :-ms-input-placeholder {
	@include css4 {
		color: var(--application-input-placeholder-color);
	}
}

// Social Buttons
.profile .google {
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 50px;
	width: 100%;
	background: $login-google-color;
	color: #000;
	margin-top: 10px;
}
.profile .facebook {
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 50px;
	width: 100%;
	background: $login-facebook-color;
	color: #fff;
	margin-top: 10px;
}
.profile .svg {
	margin-right: 20px;
	margin-left: 20px;
}

.profile .google:active {
	opacity: 0.75;
}
.profile .facebook:active {
	opacity: 0.75;
}
// Links
.profile {
	.link {
		color: $sketch-document-color-light-blue;
		font-weight: 200;
		margin-left: 15px;
		cursor: pointer;
	}
	.disclaimer {
		.link {
			margin: 0;
		}
	}
}
.profile .link:hover {
	opacity: 0.75;
}
.profile .sign-up-free .link {
	font-style: italic;
}

.profile .sign-up-button .text:hover {
	@include css4 {
		color: var(--active-color-primary);
	}
}
// Login or Sign up options
.profile .form-options {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.profile .form-options .login {
	margin: 10px 0 10px 10px;
	@include css4 {
		color: var(--settings-text-color);
	}
	cursor: pointer;
}
.profile .form-options .signup {
	margin: 10px 10px 10px 0;
	@include css4 {
		color: var(--settings-text-color);
	}
	cursor: pointer;
}
.profile .form-options .active {
	@include css4 {
		color: var(--active-color-primary);
	}
}
.profile .form-options .active {
	@include css4 {
		color: var(--active-color-primary);
	}
}
.profile .form-options .login:hover {
	@include css4 {
		color: var(--active-color-primary);
	}
}
.profile .form-options .signup:hover {
	@include css4 {
		color: var(--active-color-primary);
	}
}

// Disclaimer
.profile .disclaimer {
	@include css4 {
		color: var(--default-text-color);
	}
}

// Sign in
.profile form {
	//margin-top:-35px;
	@include css4 {
		background-color: var(--text-selection-background);
		color: var(--default-text-color);
	}

	.sign-in-input {
		display: flex;
		align-items: center;
		height: 54px;
		//padding:0 10px;

		.icon {
			flex-shrink: 0;
			margin-left: 15px;
		}
	}
	// Sign up
	.sign-up-button {
		padding: 5px 10px;
		text-align: right;
		height: 40px;
		width: 100%;

		.text {
			cursor: pointer;
			background-color: inherit;
			border: none;
			font-size: 0.98em;
			@include css4 {
				background-color: var(--text-selection-background);
				color: var(--default-text-color);
			}
		}
	}

	.sign-up-wrapper {
		display: flex;
		align-items: center;
		height: 54px;
		//padding:0 10px;

		.icon {
			flex-shrink: 0;
			margin-left: 15px;
		}
	}
	input {
		background-color: inherit;
		margin-left: 25px;
		margin-right: 25px;
		width: 270px;
		@include css4 {
			color: var(--default-text-color);
		}

		&.error {
			background-color: $sketch-document-color-error;
		}
	}
}
.profile .sign-in {
	display: flex;
	align-items: center;
	cursor: pointer;
	width: 100%;
	height: 50px;
	@include css4 {
		background-color: var(--text-selection-background);
		color: var(--default-text-color);
	}
}
.profile .sign-up-free {
	@include css4 {
		color: var(--default-text-color);
	}
}
.profile .signup-error-message {
	width: 320px;
	font-weight: 200;
	padding: 0 15px 15px 30px;

	@include css4 {
		background-color: var(--text-selection-background);
	}
}
.profile .sign-in-button {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	@include css4 {
		color: var(--default-text-color);
	}

	.text {
		font-size: 0.9em;
		font-weight: 200;
		margin-left: 20px;
		padding-left: 45px;
	}

	.login-button {
		font-size: 0.98em;
		cursor: pointer;
		@include css4 {
			background-color: var(--text-selection-background);
		}
		margin-left: 83px;
		border: none;
		@include css4 {
			color: var(--default-text-color);
		}

		&:hover {
			@include css4 {
				color: var(--active-color-primary);
			}
		}
	}
}

.profile .login-error-message {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 20px;
	margin-bottom: 7px;

	.error-text {
		width: 200px;
		margin-left: 23px;
	}

	.icon {
		margin-left: 17px;
	}
}

.profile {
	.forgot-password {
		p {
			padding: 15px;
		}
		.wrapper {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			margin-top: 10px;
			width: 100%;
			padding: 15px;
			//height: 54px;
			@include css4 {
				background-color: var(--text-selection-background);
			}

			.text {
				all: unset;
				margin-top: 20px;
				align-self: flex-end;
				cursor: pointer;

				&:hover {
					@include css4 {
						color: var(--active-color-primary);
					}
				}
			}

			input {
				background-color: inherit;
				width: 290px;
				margin: 0 0 0 0;
				@include css4 {
					color: var(--default-text-color);
				}

				&.error {
					background-color: $sketch-document-color-error;
				}
			}
		}

		.disclaimer {
			margin-top: 5px;
			padding: 15px;
		}
	}
	.errors-div {
		display: flex;
		flex-direction: column;
	}
}

.forgot-password.password-verified {
	.title {
		display: inline-block;
		color: $sketch-document-color-light-blue;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: 15px;
		font-size: 18px;
	}
	.message {
		margin-top: 0;
		padding-top: 0;
	}
	.disclaimer {
		margin-top: 0;
		padding: 15px;
	}
}
