@import '../theme_config/custom_theme_variables.scss';

// Breakpoints
$small-bp: 291px;
$medium-bp: 405px;
$large-bp: 1001px;
$audio-player-bp: 550px;
$chapter-dropdown-bp: 690px;

$font-primary: 'Open Sans', sans-serif;
$checkbox-color: #6fbc8f;
$login-email-color: #6e747f;

// Social providers should not change colors
$login-facebook-color: #4267b2;
$login-google-color: #ffffff;
$login-twitter-color: rgb(42, 163, 239);

$default-font-family: 'Raleway', Helvetica, sans serif;
$sans-font-family-option: 'Raleway', Helvetica, sans serif;
$serif-font-family-option: 'Alegreya', 'Palatino Linotype', Palatino, serif;
$slab-font-family-option: 'Roboto Slab', Rockwell, Courier, monospace;

// NOTE: Declaring the variables here so that I can use PHP Storm's "refactor"
// functionality and code completion, I will remove them before production
:root {
	--application-base-font-size: 0.98em;
	--application-menu-font-size: 0.98em;
	--application-font-family: 'Raleway', Helvetica, sans serif;
	--sans-font-family-option: 'Raleway', Helvetica, sans serif;
	--serif-font-family-option: 'Alegreya', 'Palatino Linotype', Palatino, serif;
	--slab-font-family-option: 'Roboto Slab', Rockwell, Courier, monospace;
}

$css4: true;
$compatibility: true;
//it is nessesary to define the variables in sass map instead of :root, for compatibility reasons.
$variables: (
	--text-selection-background: $text-selection-background,
	--text-selection-accordion-title-background:
		$text-selection-accordion-title-background,
	--text-selection-accordion-body-background:
		$text-selection-accordion-body-background,
	--text-selection-tab-option-active-background:
		$text-selection-tab-option-active-background,
	--text-selection-tab-option-color: $text-selection-tab-option-color,
	--text-selection-tab-option-active-color:
		$text-selection-tab-option-active-color,
	--text-selection-tab-option-active-border-color:
		$text-selection-tab-option-active-border-color,
	--book-dropdown-background-color: $book-dropdown-background-color,
	--book-dropdown-chapter-background-color:
		$book-dropdown-chapter-background-color,
	--book-dropdown-text-color: $book-dropdown-text-color,
	--book-dropdown-section-background-color:
		$book-dropdown-section-background-color,
	--main-textarea-svg-color: $main-textarea-svg-color,
	--main-textarea-svg-fill-color: $main-textarea-svg-fill-color,
	--main-textarea-read-chapter-background:
		$main-textarea-read-chapter-background,
	--main-textarea-read-chapter-shadow: $main-textarea-read-chapter-shadow,
	--main-textarea-read-chapter-active: $main-textarea-read-chapter-active,
	--active-color-primary: $active-color-primary,
	--active-color-secondary: $active-color-secondary,
	--highlight-blue: $highlight-blue,
	--highlight-pink: $highlight-pink,
	--highlight-yellow: $highlight-yellow,
	--highlight-green: $highlight-green,
	--highlight-purple: $highlight-purple,
	--disabled-input-option: $disabled-input-option,
	--inactive-font-option: $inactive-font-option,
	--dark-theme-primary: $dark-theme-primary,
	--light-theme-primary: $light-theme-primary,
	--default-theme-primary: $default-theme-primary,
	--settings-text-color: $settings-text-color,
	--theme-option-border: $theme-option-border,
	--notebook-footer-background-color: $notebook-footer-background-color,
	--notebook-title-date-color: $notebook-title-date-color,
	--profile-forgot-password-color: $profile-forgot-password-color,
	--profile-login-signup-background-color:
		$profile-login-signup-background-color,
	--profile-invalid-input-background-color:
		$profile-invalid-input-background-color,
	--context-menu-background-color: $context-menu-background-color,
	--context-menu-svg-fill-color: $context-menu-svg-fill-color,
	--context-menu-text-color: $context-menu-text-color,
	--context-menu-highlight-active-background-color:
		$context-menu-highlight-active-background-color,
	--context-menu-hover-color: $context-menu-hover-color,
	--audio-player-progress-bar-background: $audio-player-progress-bar-background,
	--audio-player-handle-background: $audio-player-handle-background,
	--audio-player-background: $audio-player-background,
	--audio-player-gripper-background-color:
		$audio-player-gripper-background-color,
	--audio-player-gripper-before-color: $audio-player-gripper-before-color,
	--menu-body-background-color: $menu-body-background-color,
	--menu-background-color-opaque: $menu-background-color-opaque,
	--menu-body-background-color-transparent:
		$menu-body-background-color-transparent,
	--menu-header-background-color: $menu-header-background-color,
	--menu-border-color: $menu-border-color,
	--menu-hover-state-background-color: $menu-hover-state-background-color,
	--default-background-color: $default-background-color,
	--default-header-background-color: $default-header-background-color,
	--default-footer-background-color: $default-footer-background-color,
	--default-header-background-transparent:
		$default-header-background-transparent,
	--default-text-color: $default-text-color,
	--default-verse-number-color: $default-verse-number-color,
	--before-after-border-color: $before-after-border-color,
	--default-svg-fill-color: $default-svg-fill-color,
	--default-input-placeholder-color: $default-input-placeholder-color,
	--application-text-super-color: $application-text-super-color,
	--application-loading-spinner-color: $application-loading-spinner-color,
	--default-header-background-color-transparent:
		$default-header-background-color-transparent,
	--application-input-caret-color: $application-input-caret-color,
	--application-text-caret-color: $application-text-caret-color,
	--application-transparent-gray: $application-transparent-gray,
	--application-text-selection-color: $application-text-selection-color,
	--application-text-container-color: $application-text-container-color,
	--application-link-color: $application-link-color,
	--default-language-name-background-color-transparent:
		$default-language-name-background-color-transparent,
	--read-full-chapter: $read-full-chapter,
	--video-player-background-color: $video-player-background-color,
	--video-player-black-bar-color: $video-player-black-bar-color,
	--video-player-films-svg-color: $video-player-films-svg-color,
);

//Here we transfer the variables from the map to the :root element
@if ($css4) {
	:root {
		@each $variable, $value in $variables {
			#{$variable}: $value;
		}
	}
}

//this is the "magic" function
@function var($variable) {
	@if ($css4) {
		@return unquote('var(' + $variable + ')');
	} @else {
		@return map-get($variables, $variable);
	}
}

//the mixin temporally sets the $css4 variable to false, compiles the css3 fallback,
// then makes the variable true again and compiles the css4 code.
// It should contain properties that use css4 variables, otherwise there will be
// unnessesary duplication of properties.
@mixin css4 {
	@if ($css4) {
		$css4-backup: $css4;
		@if ($compatibility) {
			$css4: false !global;
			@content;
		}
		$css4: true !global;
		@content;
		$css4: $css4-backup;
	} @else {
		@content;
	}
}

@media (max-width: 30rem) {
	:root {
		--application-base-font-size: 16px;
		--application-menu-font-size: 16px;
	}
}
