.black-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 54px;
	width: 100%;
	height: 84px;

	&.closed {
		display: none;
	}

	&:hover {
		cursor: pointer;
	}

	@include css4 {
		background-color: var(--video-player-black-bar-color);
	}

	.gospel-films {
		height: 30px;
		width: 30px;
		margin-top: 13px;

		@include css4 {
			fill: var(--video-player-films-svg-color);
		}
	}

	.up-arrow {
		height: 30px;
		width: 30px;

		@include css4 {
			fill: var(--video-player-films-svg-color);
		}
	}
}

.video-player-container {
	display: block;
	padding-top: 0;
	width: 100%;
	position: relative;
	max-height: 0;
	overflow: hidden;
	transition: height 700ms ease-in-out, max-height 700ms ease-in-out,
		padding 1200ms ease-in-out;

	&.active {
		display: block;
		padding-top: 54px;
		max-height: 620px;
	}

	@include css4 {
		background-color: var(--video-player-background-color);
	}

	.video-player {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: auto;
		width: 100%;
		max-width: 850px;

		.play-video-container {
			position: absolute;
			margin: auto;
			width: 100%;
			height: 100%;
			max-height: 478px;
			max-width: 850px;
			z-index: 2;
			pointer-events: none;
			background-color: rgba(100, 100, 100, 0.35);

			&.show-play {
				display: block;
			}

			&.hide-play {
				display: none;
			}

			.play-video {
				position: absolute;
				top: calc(50% - 75px);
				//margin: auto;
				left: calc(50% - 75px);
				width: 150px;
				height: 150px;
				display: flex;
				align-items: center;
				justify-content: center;
				z-index: 3;

				&:hover {
					cursor: pointer;
				}

				&.show-play {
					display: block;
				}

				&.hide-play {
					display: none;
				}
			}

			.play-video-title {
				position: absolute;
				top: calc(50% - 75px);
				left: calc(50% - 30px);
			}
		}

		video {
			height: 100%;
			width: 100%;
		}

		&:hover .controls {
			display: flex;
		}

		.controls {
			display: none;
			align-self: flex-end;
			justify-content: space-between;
			align-items: center;
			position: absolute;
			margin: auto;
			bottom: 30px;
			z-index: 2;
			width: 100%;
			max-width: 850px;
			height: 35px;
			padding: 5px 10px;
			background-color: rgba(0, 0, 0, 0.3);

			&.hide-controls {
				display: none;
			}

			.left-controls {
				align-content: flex-start;
				display: flex;
				height: 35px;
				width: 65px;
				align-items: center;
				justify-content: space-between;

				.video-volume-container {
					display: flex;
					flex-direction: column;
					position: relative;

					.video-volume-slider-container {
						display: none;
						left: 0;
						position: absolute;
						bottom: auto;

						&.active {
							display: block;
						}
					}

					.video-slider-container {
						height: 155px;
						width: 25px;
						display: flex;
						flex-direction: column;
						position: absolute;
						bottom: 7px;
						left: 1px;
						align-items: center;
						justify-content: center;

						@include css4 {
							outline: 1px solid var(--active-color-primary);
							background-color: var(--application-transparent-gray);
						}
						background-color: #fff;

						.fill {
							//height: 3px;
							//@include css4 {
							//	background-color: var(--active-color-primary);
							//}
							////width: 100px;
							//border-radius: 5px;
						}
						.slider {
							//width: 100%;
							height: 80%;
							//padding: 0;
							//display: flex;
							//align-items: center;
							//justify-content: center;
						}
					}
				}
			}

			.right-controls {
				align-content: flex-end;
				display: flex;
				height: 35px;
				width: 65px;
				align-items: center;
				justify-content: space-between;

				.video-elipsis {
					margin-top: 22px;
				}

				.video-fullscreen {
					margin-top: 8px;
				}
			}

			svg {
				width: 26px;
				height: 26px;
				fill: white;

				&:hover {
					cursor: pointer;
				}
			}
		}

		.video-elipsis-container {
			display: none;
			position: relative;
			max-width: 850px;
			width: 100%;
			margin: auto;

			&.active {
				display: block;
			}

			.video-elipsis-menu {
				width: 250px;
				height: 445px;
				position: absolute;
				right: 0;
				bottom: 35px;

				.video-elipsis-header {
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 10px 20px;
					height: 35px;
					background-color: #1b1f24;

					.gospel-films {
						height: 25px;
						width: 25px;
						margin-top: 7px;
					}

					.close-arrow {
						height: 25px;
						width: 25px;
					}

					.title-text {
						display: flex;
						align-items: center;
						height: 25px;
						width: 70%;
					}
				}

				.video-thumbnail-list {
					max-height: 410px;
					height: 410px;
					z-index: 4;
					overflow-x: hidden;
					overflow-y: scroll;

					.video-thumbnail {
						height: 141px;
						width: 250px;
						position: relative;
						border-bottom: solid 1px black;

						&:active {
							opacity: 0.9;
						}

						&:hover {
							cursor: pointer;
						}

						.thumbnail-poster {
							min-height: 100%;
							min-width: 100%;
						}

						.thumbnail-metadata {
							height: 25px;
							position: absolute;
							bottom: -1px;
							width: 100%;
							display: flex;
							align-items: center;
							justify-content: space-between;
							padding: 5px 20px;
							background-color: rgba(44, 48, 54, 0.5);

							&:before {
								content: '';
								width: 100%;
								height: 100%;
								position: absolute;
								z-index: 5;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								background-color: rgba(0, 0, 0, 0.4);
							}

							.thumbnail-title {
								color: #fff;
								z-index: 6;
							}

							.thumbnail-duration {
								color: #fff;
								z-index: 6;
							}
						}

						.thumbnail-play-button {
							position: absolute;
							width: 26px;
							height: 26px;
							z-index: 6;
							fill: #fff;
							left: calc(50% - 13px);
							top: calc(50% - 26px);
						}
					}
				}
			}
		}

		&:hover .progress-slider {
			display: block;
		}

		.progress-slider {
			display: none;
			width: 100%;
			position: absolute;
			bottom: 69px;
			margin: auto;
			max-width: 850px;
			z-index: 3;
			padding: 0;

			&.hide-progress-slider {
				display: none;
			}

			&:before {
				left: calc(50% - 55px);
			}

			&:after {
				left: calc(50% + 10px);
			}

			.rc-slider {
				transition: height 200ms ease-in-out;
				border-radius: 0;

				&:hover {
					//padding: 4px 0;
					cursor: pointer;

					.rc-slider-rail {
						transition: height 200ms ease-in-out;
						height: 4px !important;
					}

					.rc-slider-track {
						transition: height 200ms ease-in-out;
						height: 4px !important;
					}

					.rc-slider-handle {
						height: 10px !important;
						width: 10px !important;
					}
				}

				.rc-slider-handle {
					transition: height 200ms ease-in-out, width 200ms ease-in-out;
					height: 0 !important;
					width: 0 !important;
					border: none !important;
					margin-left: -0.75px;
					margin-top: -3.5px;
				}

				.rc-slider-rail {
					border-radius: 0;
				}

				.rc-slider-track {
					border-radius: 0;
				}
			}
		}
	}

	.black-bar {
		padding-top: 0;
		margin-top: 0;
		height: 30px;
	}
}

@media only screen and (max-width: 850px) {
	.video-elipsis-menu {
		top: 0;
	}
}

@media only screen and (max-width: 810px) {
	.play-video-container {
		bottom: 0;
		top: 0;
	}
}
